* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: auto;
    border: 1px rgb(15, 14, 14) solid;
    margin: auto;
}


/* ini adalah footer */
.header {
    background-color:grey;
    height: 60px;
}



.header ul li {
    list-style: none;
    display: inline-block;
}

.header a {
    text-decoration: none;
    margin-right: 10px;
}

.main {
    background-color:snow;
    height: 600px;
}

.footer {
    background-color:black;
}
/* ini batas header */
.main, h3 {
    margin-left: 30px;
}
.paragraf {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    
    font-family: fantasy;
}
 
.alamat {
    list-style: none;
    margin-left: 30px;
}
.shiping,p {
    margin-left: 30px;
}
/* bagian sidebar */
.sidebar {
    width: 300px;
    height: 200px;
    background-color: grey;
  
}
.sidebar, table {
    width: auto;
    height: auto;
}

.footer {
    background-color:rgb(31, 30, 30);
    font-family: sans-serif;


}.footer,ul,li {
    list-style: none;
    
}

.footer,a {
    text-decoration: none;
}